body,
html {
  margin: 0;
  padding: 0; }

#top {
  width: 100vw;
  height: 100vh;
  margin: 0;
  height: 100vh;
  color: #FFF;
  background: #000;
  font-size: 5vmin;
  overflow: hidden; }

#world {
  width: 100%;
  height: 100%; }

#ols {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 12vh;
  font-family: sans-serif;
  background: rgba(0, 0, 0, 0.6); }
  #ols div.ob {
    border: #888 3px ridge;
    border-radius: 1rem;
    color: #FFF;
    background: rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding: .5rem;
    font-variant: small-caps;
    text-align: center; }
    #ols div.ob i {
      font-style: normal;
      font-size: 1.5vh; }
    #ols div.ob #sctxt, #ols div.ob .ot {
      font-size: 150%; }

svg path {
  transition: stroke-width 2s, stroke-opacity 3s, fill-opacity 3s, stroke 1s, fill 2s; }
svg #land {
  stroke: none; }
svg #land path.l1 {
  fill-opacity: 0;
  fill: #fff; }
svg #land path.l2 {
  fill-opacity: 0;
  fill: #fff; }
svg #land path.l3 {
  fill-opacity: 1; }
svg .bmain {
  stroke: #FAA;
  stroke-linecap: round;
  stroke-width: 10;
  fill: none; }
svg g.stb.ded {
  opacity: 0.8; }
svg .stripes {
  stroke: #BFF;
  stroke-linecap: butt;
  fill: none;
  stroke-width: 1.5; }
svg .istripes {
  stroke: #F68;
  stroke-linecap: butt;
  fill: none;
  stroke-width: 1.5; }
svg .bod {
  stroke: #2FF;
  stroke-width: 3;
  fill: #277;
  stroke-linejoin: bevel; }
svg .bld {
  stroke: #2FF;
  stroke-width: 5;
  fill: #277;
  stroke-linejoin: bevel; }
svg .ibod {
  stroke: #D25;
  stroke-width: 3;
  fill: #713; }
svg .whl {
  stroke: #999;
  stroke-width: 5;
  fill: #333; }
svg g.enemy .stripes {
  stroke: #9DF; }
svg g.enemy .istripes {
  stroke: #1FB; }
svg g.enemy .bld {
  stroke: #F1F;
  fill: #727; }
svg g.enemy .bod {
  stroke: #F1F;
  fill: #727; }
svg g.enemy .bld {
  stroke: #F1F;
  fill: #727; }
svg g.enemy .ibod {
  stroke: #6BF;
  fill: #29B; }

svg.y84 .stripes {
  stroke: #6FF;
  stroke-width: 9; }
svg.y84 .istripes {
  stroke: #F6F;
  stroke-width: 9; }
svg.y84 .bod {
  stroke-opacity: 0;
  fill-opacity: 0; }
svg.y84 .bld {
  stroke: #6FF;
  stroke-width: 1;
  fill: #6FF; }
svg.y84 #land {
  stroke: none; }
svg.y84 #land path.l1 {
  fill-opacity: 1; }
svg.y84 #land path.l2 {
  fill-opacity: 0; }
svg.y84 #land path.l3 {
  fill-opacity: 0; }
svg.y84 .ibod {
  stroke-opacity: 0;
  fill-opacity: 0; }
svg.y84 .whl {
  stroke-opacity: 0;
  fill-opacity: 0; }
svg.y84 g.enemy .stripes {
  stroke: #F6F; }
svg.y84 g.enemy .istripes {
  stroke: #6FF; }
svg.y84 g.enemy .bld {
  stroke: #F6F;
  stroke-width: 1;
  fill: #F6F; }

svg.y88 .stripes {
  stroke: #6FF;
  stroke-width: 5; }
svg.y88 .istripes {
  stroke: #F6F;
  stroke-width: 5; }
svg.y88 .bod {
  stroke: none;
  fill: #0FF; }
svg.y88 .bld {
  stroke: none;
  fill: #0FF; }
svg.y88 .ibod {
  stroke: none;
  fill: #713; }
svg.y88 #land {
  stroke: none; }
svg.y88 #land path.l1 {
  fill-opacity: 0; }
svg.y88 #land path.l2 {
  fill-opacity: 1; }
svg.y88 #land path.l3 {
  fill-opacity: 0; }
svg.y88 .whl {
  fill-opacity: 0; }
svg.y88 g.enemy .stripes {
  stroke: #F6F; }
svg.y88 g.enemy .istripes {
  stroke: #6FF; }
svg.y88 g.enemy .bod {
  stroke: none;
  fill: #F0F; }
svg.y88 g.enemy .bld {
  stroke: none;
  fill: #F0F; }
svg.y88 g.enemy .ibod {
  stroke: none;
  fill: #317; }

/*# sourceMappingURL=style.css.map */
