@keyframes smoothflash {
  0%   {background-color: #440;}
  50%  {background-color: #990;}
  100% {background-color: #440;}
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#top {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  height: 100vh;
  color: #FFF;
  background: #000;
  font-size: 5vmin;
  overflow: hidden;
}

#meta {
  background: #000;
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right:0;
  color: #FFF;
  z-index:100;
  &.ded {
    left: -120vw;
    right: 120vw;
  }
  a {
    border: 1px solid #FFF;
    display: inline-block;
    width: 25vw;
    height: 20vh;
    margin-left: 6vw;
    text-decoration: none;
    color: #FFF;
    h3 {
      text-align: center;
    }
    span {
      display: block;
      padding: 1em;
      text-align: center;
    }
  }
  transition: left 1s, right 1s;
}

#world {
  width: 100%;
  height: 100%;
}

#ols {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 12vh;
  font-family: sans-serif;
  background: rgba(0,0,0,.6);
  transition: background 1s;

  div.scob.ob {
    width: 20vh !important;
  }
  div.otob.ob {
    width: 50vh !important;
    font-size: 3vh;
    animation: smoothflash 3s infinite;
  }

  div.mapob.ob {
    width: 30vw !important;
    height:7vh !important;
    padding:0;
    svg {
      g.lmap {
        fill: #999;
      }
      g.dot.ded {
        fill-opacity:.2;
      }
      g.dot {
        fill: #0FF;
      }
      g.dot.enemy {
        fill: #F0F;
      }
    }
  }

  div.ob {
    position: relative;
    border: #888 3px ridge;
    border-radius: 1rem;
    color: #FFF;
    background: rgba(0,0,0,.3);
    display: inline-block;
    margin: 1vh;
    padding: 1vh;
    font-size: 1.5vh;
    font-variant: small-caps;
    text-align: center;
    transition: width 1s,border-radius 1s;
    overflow: hidden;
    width: 8vh;
    height: 7vh;

    label {
      z-index: 2;
      position: relative;
    }
    #sctxt,
    .ot {
      padding: 0;
      margin:0;
      font-size: 250%;
      z-index: 2;
      position: relative;
    }


    .of {
      z-index: 1;
      position: absolute;
      top:40%;
      bottom: 0;
      left:0;
      right:0;
      z-index: 0;
    }

    #lf {
      background: #099;
    }
    #ff {
      background: #009;
    }
    #bf {
      background: #909;
    }
    #gf {
      background: #666;
    }



  }
}

svg {
  path {
    transition: stroke-width 2s, stroke-opacity 3s, fill-opacity 3s, stroke 1s, fill 2s;
  }

  #land {
    stroke: none;
  }

  #land path.l1 {
    fill-opacity: 0;
    fill: #fff;
  }

  #land path.l2 {
    fill-opacity: 0;
    fill: #fff;
  }

  #land path.l3 {
    fill-opacity: 1;
  }

  .bmain {
    //bullet main
    stroke: #FAA;
    stroke-linecap: round;
    stroke-width: 10;
    fill: none;
  }

  g.stb.ded {
    opacity: 0.8;
  }

  .stripes {
    stroke: #BFF;
    stroke-linecap: butt;
    fill: none;
    stroke-width: 1.5;
  }

  .istripes {
    stroke: #F68;
    stroke-linecap: butt;
    fill: none;
    stroke-width: 1.5;
  }

  .bod {
    stroke: #2FF;
    stroke-width: 3;
    fill: #277;
    stroke-linejoin: bevel;
  }

  .bld {
    stroke: #2FF;
    stroke-width: 5;
    fill: #277;
    stroke-linejoin: bevel;
  }

  .ibod {
    stroke: #D25;
    stroke-width: 3;
    fill: #713;
  }

  .whl {
    stroke: #999;
    stroke-width: 5;
    fill: #333;
  }

  g.enemy {
    .stripes {
      stroke: #9DF;
    }

    .istripes {
      stroke: #1FB;
    }

    .bld {
      stroke: #F1F;
      fill: #727;
    }

    .bod {
      stroke: #F1F;
      fill: #727;
    }

    .bld {
      stroke: #F1F;
      fill: #727;
    }

    .ibod {
      stroke: #6BF;
      fill: #29B;
    }
  }
}

div.y84 {
  #ols {
    font-family: monospace;
    background: rgba(0,0,0,1);

    div.ob {
      border: #000 solid 3px;
      border-radius: 0;
      padding: 0;
      text-transform: uppercase;
      width: 4px;

      label, .ot {
        opacity: 0;
      }


    }
  }

  svg {
    .stripes {
      stroke: #6FF;
      stroke-width: 9;
    }

    .istripes {
      stroke: #F6F;
      stroke-width: 9;
    }

    .bod {
      stroke-opacity: 0;
      fill-opacity: 0;
    }

    .bld {
      stroke: #6FF;
      stroke-width: 1;
      fill: #6FF;
    }

    #land {
      stroke: none;
    }

    #land path.l1 {
      fill-opacity: 1;
    }

    #land path.l2 {
      fill-opacity: 0;
    }

    #land path.l3 {
      fill-opacity: 0;
    }

    .ibod {
      stroke-opacity: 0;
      fill-opacity: 0;
    }

    .whl {
      stroke-opacity: 0;
      fill-opacity: 0;
    }

    g.enemy {
      .stripes {
        stroke: #F6F;
      }

      .istripes {
        stroke: #6FF;
      }

      .bld {
        stroke: #F6F;
        stroke-width: 1;
        fill: #F6F;
      }
    }
  }
}

div.y88 {
  #ols {
    font-family: monospace;

    background: rgba(0,0,0,1);
    div.ob {
      border: #888 3px inset;
      border-radius: 0;
      width: 2vh;
      .ot {
        font-size: 150%;
      }
      label {
        opacity: 0;
      }
    }

  }

  svg {
    .stripes {
      stroke: #6FF;
      stroke-width: 5;
    }

    .istripes {
      stroke: #F6F;
      stroke-width: 5;
    }

    .bod {
      stroke: none;
      fill: #0FF;
    }

    .bld {
      stroke: none;
      fill: #0FF;
    }

    .ibod {
      stroke: none;
      fill: #713;
    }

    #land {
      stroke: none;
    }

    #land path.l1 {
      fill-opacity: 0;
    }

    #land path.l2 {
      fill-opacity: 1;
    }

    #land path.l3 {
      fill-opacity: 0;
    }

    .whl {
      fill-opacity: 0;
    }

    g.enemy {
      .stripes {
        stroke: #F6F;
      }

      .istripes {
        stroke: #6FF;
      }

      .bod {
        stroke: none;
        fill: #F0F;
      }

      .bld {
        stroke: none;
        fill: #F0F;
      }

      .ibod {
        stroke: none;
        fill: #317;
      }
    }
  }
}
