body,html {
  margin:0;
  padding:0;
}
div {
  width: 100vw;
  margin:0;
  height: 100vh;
  color: #000;
  background: #000;
  font-size: 5vmin;
}

svg {
  path {
    transition: stroke-width 4s, stroke-opacity 4s, fill-opacity 4s;
  }
  .stripes {
    stroke:#6FF;
    stroke-linecap: butt;
  }
  .istripes {
    stroke:#F6F;
    stroke-linecap: butt;
  }
  .bod {
    stroke:#6FF;
    stroke-width:5;
    fill: #099;
    stroke-linejoin: bevel;
  }
  .ibod {
    stroke:#F6F;
    stroke-width:5;
    fill: #909;
  }
  .whl {
    stroke:#FFF;
    stroke-width:5;
    fill: #999;
  }
}


svg.enemy {
  .stripes {
    stroke:#F6F;
  }
  .istripes {
    stroke:#6FF;
  }
  .bod {
    stroke:#F6F;
    fill: #909;
  }
  .ibod {
    stroke:#6FF;
    fill: #099;
  }
}

svg.y84 {
  .stripes {
    stroke-width:19;
  }
  .istripes {
    stroke-width:19;
  }
  .bod {
    stroke-opacity :0;
    fill-opacity :0;
  }
  .ibod {
    stroke-opacity :0;
    fill-opacity :0;
  }
  .whl {
      stroke-opacity :0;
      fill-opacity :0;
  }
}


svg.y19 {
  .bod {
    fill:"url(#main)";
  }
  .ibod {
  }
}
