body,
html {
  margin: 0;
  padding: 0;
}

#top {
  width: 100vw;
  height: 100vh;
  margin: 0;
  height: 100vh;
  color: #FFF;
  background: #000;
  font-size: 5vmin;
  overflow: hidden;
}

#world {
  width: 100%;
  height: 100%;
}

#ols {
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  height: 12vh;
  font-family: sans-serif;
  background:rgba(0,0,0,.6);
  div.ob {
    border: #888 3px ridge;
    border-radius: 1rem;
    color: #FFF;
    background: rgba(0,0,0,.3);
    display: inline-block;
    padding: .5rem;
    font-variant: small-caps;
    text-align: center;
    i {
      font-style: normal;
      font-size:1.5vh;
    }
    #sctxt, .ot {
      font-size:150%;
    }

  }

}

svg {
  path {
    transition: stroke-width 2s, stroke-opacity 3s, fill-opacity 3s, stroke 1s, fill 2s;
  }

  #land {
    stroke: none;
  }

  #land path.l1 {
    fill-opacity: 0;
    fill: #fff;
  }

  #land path.l2 {
    fill-opacity: 0;
    fill: #fff;
  }

  #land path.l3 {
    fill-opacity: 1;
  }

  .bmain {
    //bullet main
    stroke: #FAA;
    stroke-linecap: round;
    stroke-width: 10;
    fill: none;
  }

  g.stb.ded {
    opacity: 0.8;
  }

  .stripes {
    stroke: #BFF;
    stroke-linecap: butt;
    fill: none;
    stroke-width: 1.5;
  }

  .istripes {
    stroke: #F68;
    stroke-linecap: butt;
    fill: none;
    stroke-width: 1.5;
  }

  .bod {
    stroke: #2FF;
    stroke-width: 3;
    fill: #277;
    stroke-linejoin: bevel;
  }

  .bld {
    stroke: #2FF;
    stroke-width: 5;
    fill: #277;
    stroke-linejoin: bevel;
  }

  .ibod {
    stroke: #D25;
    stroke-width: 3;
    fill: #713;
  }

  .whl {
    stroke: #999;
    stroke-width: 5;
    fill: #333;
  }

  g.enemy {
    .stripes {
      stroke: #9DF;
    }

    .istripes {
      stroke: #1FB;
    }

    .bld {
      stroke: #F1F;
      fill: #727;
    }

    .bod {
      stroke: #F1F;
      fill: #727;
    }

    .bld {
      stroke: #F1F;
      fill: #727;
    }

    .ibod {
      stroke: #6BF;
      fill: #29B;
    }
  }
}

svg.y84 {
  .stripes {
    stroke: #6FF;
    stroke-width: 9;
  }

  .istripes {
    stroke: #F6F;
    stroke-width: 9;
  }

  .bod {
    stroke-opacity: 0;
    fill-opacity: 0;
  }

  .bld {
    stroke: #6FF;
    stroke-width: 1;
    fill: #6FF;
  }

  #land {
    stroke: none;
  }

  #land path.l1 {
    fill-opacity: 1;
  }

  #land path.l2 {
    fill-opacity: 0;
  }

  #land path.l3 {
    fill-opacity: 0;
  }

  .ibod {
    stroke-opacity: 0;
    fill-opacity: 0;
  }

  .whl {
    stroke-opacity: 0;
    fill-opacity: 0;
  }

  g.enemy {
    .stripes {
      stroke: #F6F;
    }

    .istripes {
      stroke: #6FF;
    }

    .bld {
      stroke: #F6F;
      stroke-width: 1;
      fill: #F6F;
    }
  }
}

svg.y88 {
  .stripes {
    stroke: #6FF;
    stroke-width: 5;
  }

  .istripes {
    stroke: #F6F;
    stroke-width: 5;
  }

  .bod {
    stroke: none;
    fill: #0FF;
  }

  .bld {
    stroke: none;
    fill: #0FF;
  }

  .ibod {
    stroke: none;
    fill: #713;
  }

  #land {
    stroke: none;
  }

  #land path.l1 {
    fill-opacity: 0;
  }

  #land path.l2 {
    fill-opacity: 1;
  }

  #land path.l3 {
    fill-opacity: 0;
  }


  .whl {
    fill-opacity: 0;
  }

  g.enemy {
    .stripes {
      stroke: #F6F;
    }

    .istripes {
      stroke: #6FF;
    }

    .bod {
      stroke: none;
      fill: #F0F;
    }

    .bld {
      stroke: none;
      fill: #F0F;
    }

    .ibod {
      stroke: none;
      fill: #317;
    }

  }
}
